 @import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 25%;
}
h3{
  text-align: justify;
  color: white;
}